{% set serviceName = " " %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block header %}


<div class="browse govuk-!-margin-bottom-8"">
  {{ super() }}

<div class="govuk-width-container ">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a not a real service – it is just for user research.'
  }) }}


    {{ govukBreadcrumbs({
      classes: "govuk-breadcrumbs--inverse govuk-!-margin-bottom-8",
      items: [
        {
          text: "Home",
          href: "#"
        }
      ]
    }) }}

  </div>
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Wildlife and biodiversity</h1>
    <p class="govuk-body-l govuk-!-margin-bottom-8" >Protected species, report a sighting



</p>

</div>
      </div>
</div>
</div>
{% endblock %}


{% block beforeContent %}






{% endblock %}


{% block content %}


  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">

      <div class="gem-c-cards">
      <ul class="gem-c-cards__list" data-track-count="cardList">


        {% macro govUKCard(title='', description='', href='#') %}
        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link" href="{{href}}">{{title}}</a>
</h2>              <p class="govuk-body gem-c-cards__description">{{description}}</p>
          </div>
        </li>
        {% endmacro %}


{{ govUKCard(title="Boats and waterwards", description="Boat registration, boat safety and river levels") }}
{{ govUKCard(title="Coasts", description="Coastal erosion, flood defences, bathing water quality") }}
{{ govUKCard(title="Countryside", description="Countryside Code, access to the countryside, landscape") }}
{{ govUKCard(title="Farming and land management", description="Agriculture, rural payments, imports and exports, workers’ rights, regulations") }}
{{ govUKCard(title="Fishing and hunting", description="Fishing rod licences, permission and byelaws, lawful hunting") }}
{{ govUKCard(title="Flooding", description="Check flood warnings, how to prepare for flooding, and what to do before, during and after flooding") }}
{{ govUKCard(title="Treasure and wrecks", description="Report wreck material and treasure finds") }}
{{ govUKCard(title="Waste management", description="Your responsibilities, hazardous waste and report an environmental incident") }}
{{ govUKCard(title="Wildlife and biodiversity", description="Protected species, report a sighting", href="wildlife-biodiversity") }}


  </ul>
  </div>

      </div>
    </div>
  </div>

{% endblock %}
