{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}

    <h2 class="govuk-heading-m">Base</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="/base/browse">Browse</a>
      </li>
      <li>
          <a class="govuk-link" href="/base/wildlife-biodiversity">Wildlife biodiversity</a>



        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="/base/guide/index">Your responsibilities</a></li>
          <li><a class="govuk-link" href="/base/guide/report-dead-animal">Report a dead animal</a></li>
          <li><a class="govuk-link" href="/base/guide/report-whale-dolphin">Report beached whale or dolphin</a></li>
          <li><a class="govuk-link" href="/base/guide/report-goose-sighting">Report a goose sighting</a>

  <ul class="govuk-list govuk-list--bullet">

    <li><a class="govuk-link" href="/base/form/geese-liked">Do you like geese?</a></li>
    <li><a class="govuk-link" href="/base/form/goose-type">What type of goose was it?</a></li>
    <li><a class="govuk-link" href="/base/form/date-saw-goose">When did you see the goose?</a></li>
    <li><a class="govuk-link" href="/base/form/check-answers">Check answers</a></li>
    <li><a class="govuk-link" href="/base/form/confirmation">Confirmation</a></li>
    </ul>



          </li>
            </ul>
      </li>

    </ul>


  </div>
</div>

{% endblock %}
