{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

{{ serviceName | headingH1("xl") | safe  }}


<p>This may not be much to look at from the screens, but where it gets interesting is in the code:<a href="https://github.com/vickytnz/example-prototype"> <code>https://github.com/vickytnz/example-prototype</code></a></p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="/final/index">Final version</a>
      </li>
      <li>
          <a class="govuk-link" href="/base/index">Base version</a>

    </ul>

  </div>
</div>

{% endblock %}
